/* -----Color Code----- */
:root{
  --admin-color: #A8E6CF;
  --admin-light-color: #CBF0E2;
  --cashier-main-color: #D79555;
  --cashier-color: #FFDAB9;
  --cashier-light-color: #FFE9D5;
  --staff-color: #FFF9B0;
  --captain-color: #E3D6F7;
  --chef-color: #FFB3AB;
  --light-color: #F1F1F1;
  --red-color: #DC143C;
  --green-color: #94D82D;
  --yellow-color: #FFD700;
  --purple-color: #6A5ACD;
}

.bg-admin{
  background-color: var(--admin-color);
}

.cashier-main-text-color{
  color: var(--cashier-main-color);
}
.cashier-main-bg-color{
  background-color: var(--cashier-main-color);
}
.cashier-light-bg-color{
  background-color: var(--cashier-light-color);
}


.background-img{
  background-image: url(../src/Components/Assets/Images/background/background-img.png);
  height: 100vh;
}

/* ---------right side bar-------------- */
